* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

input {
    display: none;
}

.slider-section {
    padding: 40px;
    width: 100%;
    height: 100vh;
    background: #000;
}
.slider-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 80% 20%;
    row-gap: 5%;
}
.slider-container {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}
.text-slider {
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.slide,
.text-slide {
    width: 100%;
    height: 100%;
    opacity: 0;
	position: relative;
	width: inherit;
	z-index: 0;
    flex-shrink: 0;
    transition: opacity 1s;
}
.text-slide {
    color: white;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide-1:checked ~ .slider-container > .slide-1,
#slide-2:checked ~ .slider-container > .slide-2,
#slide-3:checked ~ .slider-container > .slide-3,
#slide-4:checked ~ .slider-container > .slide-4,
#slide-5:checked ~ .slider-container > .slide-5 {
	opacity: 1;
	z-index: 1;
    transform: translateX(0);
    animation: .5s linear slide-in;
    order: -1;
    transition:  z-index 2s;
}
#slide-1:checked ~ .text-slider > .text-slide-1,
#slide-2:checked ~ .text-slider > .text-slide-2,
#slide-3:checked ~ .text-slider > .text-slide-3,
#slide-4:checked ~ .text-slider > .text-slide-4,
#slide-5:checked ~ .text-slider > .text-slide-5 {
	opacity: 1;
	z-index: 1;
    transform: translateX(0);
    animation: .5s linear slide-in;
    order: -1;
}

.slider-controls {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    gap: 10px;
}
.slide-ctrl {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.slide-ctrl span {
    display: flex;
    background-color: #71abff;
    width: 15px;
    height: 15px;
    border: 3px solid #71abff;
    border-radius: 50%;
}
.slide-ctrl:hover span {
    background-color: #fff;
    border: 3px solid #fff;
}
.slide-ctrl:active span {
    background-color: #ebebeb;
    border: 3px solid #ebebeb;
}

#slide-1:checked ~ .slider-controls > .slide-ctrl-1 span,
#slide-2:checked ~ .slider-controls > .slide-ctrl-2 span,
#slide-3:checked ~ .slider-controls > .slide-ctrl-3 span,
#slide-4:checked ~ .slider-controls > .slide-ctrl-4 span,
#slide-5:checked ~ .slider-controls > .slide-ctrl-5 span {
	background-color: #000;
    border: 3px solid #71abff;
}
#slide-1:checked ~ .slider-controls > .slide-ctrl-1:hover span,
#slide-2:checked ~ .slider-controls > .slide-ctrl-2:hover span,
#slide-3:checked ~ .slider-controls > .slide-ctrl-3:hover span,
#slide-4:checked ~ .slider-controls > .slide-ctrl-4:hover span {
    border: 3px solid #fff;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
  }

  @media all and (max-width: 768px) {
    .slider-wrapper {
        
        grid-template-columns: 1fr;
        grid-template-rows: 10fr 1fr 3fr ;
        row-gap: 5%;
    }
    .slider-container {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;
        overflow: hidden;
        display: flex;
        border-radius: 10px;
    }
    .slider-controls {
        justify-content: center;
        order: 0;
    }
    .text-slider {
        order: 1;
    }
  }
